*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-size: 18px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  /* background-color: black; */
  padding: 20px 0;
  margin: auto;
}

.component{
  margin: auto;
  width: 375px;
  height: 700px;
  background-color: hsl(0, 20%, 100%);
}

.violet{
  background: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  ); 
  width: 375px;
  height: 300px;
  margin: auto;
  border-radius: 0 0 30px 30px;
  color: white;
  text-align: center;
  /* padding: 20px;  */
}

h3, .great{
  font-size: 18px;
}

.great{
  position: relative;
  top: 40px;
}

.text{
  padding: 60px;
  position: relative;
  top: -10px;
}

.score{
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  position: relative;
  /* left: 50px; */
  top: 20px;
}

.digit{
  font-size: 50px;
  padding: 35px;
  position: relative;
  top: 15px;
}

.subdigit{
  position: relative;
  top: 15px;
  opacity: 0.5;
}

.white{
  font-weight: bold;
  /* padding: 20px; */
  /* font-size: 16px; */
  margin: auto;
}

.summary{
  padding: 20px;
}

.list li{
  padding: 10px;
  list-style: none;
}

.Reaction{
  color: hsl(0, 100%, 67%);
  background-color: rgb(255, 248, 249);
  border-radius: 10px;
  width: 340px;
  margin-left: 20px;
  font-weight: 500;
}

.Memory{
  color:hsl(39, 100%, 56%);
  background-color: hsl(43, 100%, 97%);
  border-radius: 10px;
  width: 340px;
  margin-left: 20px;
  font-weight: 500;

}

.Verbal{
  color: hsl(166, 100%, 37%);
  background-color: hsl(168, 83%, 98%);
  border-radius: 10px;
  width: 340px;
  margin-left: 20px;
  font-weight: 500;

} 

.Visual{
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 63%, 97%);
  border-radius: 10px;
  width: 340px;
  margin-left: 20px;
  font-weight: 500;
}

.number{
  color: rgb(83, 81, 81);
  position: relative;
  float: right;
}

button{
  color: hsl(0, 20%, 100%);
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 340px;
  font-weight: bold;
  margin-left: 20px;
}

button:hover{
background-color: hsl(252, 100%, 67%);
cursor: pointer;
}

@media only screen and (min-width: 768px) {
  body{
    margin: auto;
    position: relative;
    top: 100px;
  }

  .component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 30px;
    height: 440px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }

  .violet{
    padding: 100px;
    height: 440px;
    border-radius: 30px;
    text-align: center;
  }

  .violet h3{
    position: relative;
    top: -60px;
  }

  .score{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    position: relative;
    top: -20px;
    /* left: 50px; */
    margin: auto;
  }

  .digit{
    margin: auto;
    font-size: 50px;
    padding: 40px;
    position: relative;
    top: 25px;
  }
  
  .subdigit{
    margin: auto;
    position: relative;
    top: 25px;
    opacity: 0.5;
  }

  .great{
    position: relative;
    top: 8px;
    margin: auto;
    font-size: 25px;
  }
  
  .text{
    margin: auto;
    padding: 0px;
    position: relative;
    top: 30px;
    right: 10px;
    width: 210px;
  }

  .white{
    width: 550px;
    position: relative;
    top: -15px;
  }

  .Reaction{
    width: 290px;
  }
  
  .Memory{
    width: 290px;
  }
  
  .Verbal{
    width: 290px;
  }
  
  .Visual{
    width: 290px;
  }

  button{
    width: 290px;
  }
}

